<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Analyzer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/background.png') }}");
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="jumbotron mt-5">
                        <h1 class="display-4">Crop Analyzer</h1>
                        <p class="lead">Welcome to Crop Analyzer, your go-to web application for precise crop disease identification and treatment recommendations. Simply upload images of your crops, and our advanced analysis tools will swiftly diagnose diseases, providing insights into optimal treatment methods. Enhance your crop management with accurate information, ensuring healthier yields and sustainable farming practices.</p>
                        <hr class="my-4">
                        <p class="lead">
                            <a href="/analysis" class="btn btn-primary btn-lg mr-2">Analyze Your Crop</a>
                            <a href="/feedback" class="btn btn-secondary btn-lg">Provide Feedback</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
