<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Disease Detection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/background.png') }}");
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2>Plant Disease Detection</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                            </div>
                            <div class="col">
                                <h1>It's <span class="badge badge-secondary">{{ pred_output }}</span></h1>
                                {% if confidence_score %}
                                    <h2>Confidence Score: {{ confidence_score }}</h2>
                                {% endif %}
                                {% if doc_file %}
                                    <a href="{{ url_for('download', filename=doc_file) }}" class="btn btn-primary">Download Document</a>
                                    <a href="{{ url_for('view_document', doc_file=doc_file) }}" class="btn btn-secondary">View Document</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
