<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Document Content</h2>
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for paragraph in doc_content %}
                    <li class="list-group-item">{{ paragraph }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Back to Home</a>
</div>
</body>
</html>
